//********************************* Media style *************************************//
@media (max-width: 1255px) {
    .right-hand__text {
        width: 400px;
    }
}

@media (max-width: 1160px) {
    .right-hand__inner {
        padding: 50px 0 0 60px;
    }
}

@media (max-width: 1110px) {
    .right-hand__img {
        img {
            width: 100%;
        }
    }
}

@media (max-width: 950px) {
    .right-hand__inner {
        padding: 40px 0 0 50px;
    }

    .right-hand__title {
        font-size: 12px;
    }

    .right-hand__text {
        font-family: "Open Sans", sans-serif;
        line-height: 1;
        font-size: 15px;
        width: 400px;
        &--addition {
            padding-top: 20px;
            font-size: 13px;
        }
    }
}

@media (max-width: 860px) {
    .right-hand__inner {
        padding: 40px 0 0 50px;
    }

    .right-hand__text {
        width: 300px;
    }
}

@media (max-width: 860px) {
    .right-hand__inner {
        padding: 20px 0 0 30px;
    }
}

@media (max-width: 680px) {
    .right-hand__inner {
        padding: 10px 0 0 20px;
    }

    .right-hand__text {
        line-height: 1.2;
        font-size: 11px;

        &--addition {
            padding-top: 10px;
            font-size: 10px;
        }
    }
}
