@media (max-width: 760px) {
    .how-it-works__container {
        width: 540px;
    }
}

@media (max-width: 580px) {
    .how-it-works__container {
        width: 440px;
    }

    .how-it-works__title {
        font-size: 30px;
    }
}
