//********************************************* media style ***************************************//
@media (max-width: 990px) {
    .social__link {
        margin: 0 20px;
        &:hover {
            font-size: 15px;
            padding: 20px;
            transform: none;

            box-shadow: none;
        }
    }
}

@media (max-width: 480px) {
    .footer {
        padding: 36px 25px 228px 25px;
    }
    .footer__social {
        margin-top: 40px;
    }
    .social__link {
        margin: 0px;
        padding: 15px;
    }

    .footer__date {
        top: 200px;
    }
}

